@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #eee;
  color: #333;
}

#__next {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  min-height: 100vh;
  margin: auto;
  padding: 50px;
}

@media (max-width: 768px) {
  #__next {
    padding: 20px;
  }
}

.rodal-dialog {
  width: 350px !important;
}

@media (max-width: 639px) {
  .rodal-dialog {
    width: 250px !important;
  }
}
